@import 'tailwindcss';
@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1250px;
}

.btn-selected {
  border: 2px solid #ccc;
  border-radius: 50%;
  padding: 8px;
}

.btn-selected:hover {
  transform: scale(1) !important;
}
